<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">


<body>

<div id="page" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/oferty">Oferty</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edycja</li>
        </ol>
    </nav>
<!--    <form action="" method="post">-->
<!--                <span class="button-content-wrapper float-right">-->
<!--        			 <button class="add_field_button">Dodaj nowy element oferty</button>-->
<!--        		 </span>-->
<!--    </form>-->

    <form method="POST" class="table" th:object="${ofertaForm}" th:action="@{/oferty/edytuj/{id}(id=${ofertaForm.id})}">
        <div class="float-right">
             <span class="button-content-wrapper">
                 <!--            <a th:href="@{/oferty/{id}(id=${ofertaForm.id})}">Podgląd</a>-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zapisz i zobacz</button>
             </span>
        </div>
        <h2> Kosztorys Naprawy</h2>
        <div><input type="date" th:field="*{edytowano}" pattern="dd/MM/yyyy HH:mm"/></div>
        <div>

            <div class="samochod-input-block">
                Samochód
                <input type="hidden" th:field="*{pojazd.id}">
                <div><input type="text" th:field="*{pojazd.marka}" class="form-control" placeholder="Marka" autofocus="true"></div>
                <div><input type="text" th:field="*{pojazd.model}" class="form-control" placeholder="Model"></div>
                <div><input type="text" th:field="*{pojazd.numerRejestracyjny}" class="form-control" placeholder="Numer Rejestracyjny"></div>
                <div><input type="text" th:field="*{pojazd.vin}" class="form-control" placeholder="VIN"></div>
                <div><input type="text" th:field="*{przebieg}" class="form-control" placeholder="Przebieg"></div>
            </div>

            <table class="table">
                <thead class="thead-primary">
                <tr>
                    <th width="40%">Wykaz czynności i elementów</th>
                    <th>Robocizna [netto]</th>
                    <th>Części [brutto]</th>
                    <th>Usuń</th>
                    <th>Dodaj niżej</th>

                </tr>
                </thead>
                <tbody class="bavarians_oferty_input_fields_wrap">

                <tr th:each="item,iterStat : ${ofertaForm.elementySerwisowe}" >


                    <td><input type="text" required th:value="${item.nazwa}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].nazwa}" class="form-control"></td>
                    <td><input type="text" th:value="${item.cenaRobociznyNetto}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].cenaRobociznyNetto}" class="form-control"></td>
                    <td><input type="text" th:value="${item.cenaCzesciBrutto}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].cenaCzesciBrutto}" class="form-control"></td>

                    <td>
                        <!--                        <button class="btn btn-outline-danger remove_field" type="button">&#xd7;</button>-->
                        <a class="btn btn-outline-danger remove_field" th:href="@{/oferty/{ofertaId}/edycja/elementy/usun/{id}(id=${item.id},ofertaId=${ofertaForm.id})}">&#xd7;</a>
                    </td>
                    <td>
                        <button class="btn add_below_field" type="button">&#x21A9;</button>
                    </td>
                </tr>


                </tbody>
            </table>

        </div>
    </form>

</div>

</body>
</html>
